<!-- <div class="row">
  <div class="col">
    <app-filters></app-filters>
  </div>
  <div class="col">
    <app-product-list></app-product-list>
  </div>
</div> -->

<div class="row">
  <div class="col">
    <app-filters></app-filters>
  </div>
  <div class="col">
    <div class="col-md-4">
      <div class="card">
        <img
          class="bd-placeholder-img card-img-top"
          width="100%"
          src="../../../../../assets/imgs/avatar.jpeg"
        />

        <div class="card-body">
          <div class="card-text">Name</div>
          <div class="card-text">Category</div>
          <div class="card-text">Quantity</div>
          <div class="card-text">Price</div>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-primary">Comprar</button>
          <button type="button" class="btn btn-outline-primary">
            Detalhes
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          class="bd-placeholder-img card-img-top"
          width="100%"
          src="../../../../../assets/imgs/avatar.jpeg"
        />

        <div class="card-body">
          <div class="card-text">Name</div>
          <div class="card-text">Category</div>
          <div class="card-text">Quantity</div>
          <div class="card-text">Price</div>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-primary">Comprar</button>
          <button type="button" class="btn btn-outline-primary">
            Detalhes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
